* {
    box-sizing: border-box;
    margin-top: 0;
}

body {
    margin: 0;
}

header,
footer {
    height: 15vh;
    background-color: yellowgreen;
    padding: 15px;
}

main {
    height: 70vh;
    display: flex;
}

aside {
    width: 20%;
    padding: 15px;
    background-color: lightyellow;
}

nav {
    width: 20%;
    padding: 15px;
    background-color: rgb(213, 228, 213)
}

article {
    width: 60%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 60px;
    padding-right: 15px;
}

form {
    background-color: lightyellow;
}

div {
    padding-left: 10px;
}

.container {
    display: flex;
    column-gap: 30px;
}

.flex-item.left {
    width: 60%;
}

.field {
    display: flex;
    margin-bottom: 10px;
}

.field label {
    display: flex;
    padding-right: 15px;
    margin-top: 5px;
}

.field input {
    flex: 1;
    padding: 5px;
}

.field select {
    flex: 1;
    padding: 5px;
}

.flex-item.right .radio {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-item.right .check {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-item.right {
    width: 40%;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    border: 0;
    padding: 15px;
    background-color: rgb(138, 136, 136);
    color: aliceblue;
}

input[type="submit"]:hover {
    cursor: pointer;
    border: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100%;
}